<!doctype html>
<html lang="en" data-framework="intercoolerjs">
<head>
    <meta charset="utf-8">
    <title>$title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>$title</h1>
      </div>

	  <div class="">
		<h1>POST TEST(1)</h1>
		#if($name)
		1.your input name is $name.<br/>
		#end
		#if($mail)
		3.your input email is $mail.<br/>
		#end
		#if($password)
		2.your input password is $password.<br/>
		#end


		<form method='post' action"/">
    		name ; <input type'text' name='name'><br/>
    		emai ;<input type'email' name='mail'><br/>
    		password; <input type'password' name='password'><br/>
    		<input type='submit' value='submit'><br/>
		</form>
	  </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
